<form action="/in" method="POST">
    <input type="checkbox" name="man">
    <input type="checkbox" name="woman">
    <input type="checkbox" name="rus">
    <input type="checkbox" name="uk">
    <input type="checkbox" name="french">
    <input type="checkbox" name="japan">
    <h3>пРИВЕТСТВУЮ!</h3>
    <button type="submit">нажать</button>
</form>
<input type="text" name="txt" value={{txt}}>


